# 2024-01-31

import (RcppNumerical)
import (secr)

# Base R

importFrom (graphics, .filled.contour, contour, lines, points)
importFrom (grDevices, chull, contourLines)
importFrom (methods, as, is, Ops, Math)
importFrom (stats, approx, as.formula, coef, dpois, nlm, optim, optimise, pgamma, 
            qnorm, qpois, sd, terms, uniroot, update, update.formula, var)
importFrom (utils, flush.console, head, packageDescription, packageVersion)   

# Other packages

importFrom (MASS, 
    ginv)

importFrom (nlme, 
    fdHess)

importFrom (mgcv, 
    gam, 
    s, 
    te, 
    formula.gam, 
    predict.gam)

importFrom (Rcpp, 
    evalCpp)

importFrom (RcppParallel, 
    RcppParallelLibs, 
    setThreadOptions, 
    defaultNumThreads)

export (secrpoly.fit)

importFrom(sf, 
    st_as_sf, 
    st_as_sfc, 
    st_bbox, 
    st_cast,
    st_centroid, 
    st_crs, 
    "st_crs<-", 
    st_distance, 
    st_geometry, 
    st_geometry_type, 
    st_length, 
    st_linestring, 
    st_nearest_feature, 
    st_nearest_points, 
    st_point, 
    st_polygon,
    st_sf,
    st_sfc, 
    st_within)

useDynLib (secrpoly)
## DEBUGGING ONLY (cpp functions not documented)
## exportPattern("*cpp")
